absl-py==2.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiosignal==1.3.1
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.2.0
branca==0.8.0
Cartopy==0.23.0
certifi==2024.8.30
charset-normalizer==3.4.0
comm==0.2.2
#compressai @ git+https://github.com/InterDigitalInc/CompressAI.git@743680befc146a6d8ee7840285584f2ce00c3732
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.9
decorator==5.1.1
einops==0.8.0
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.16.1
folium==0.18.0
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
grpcio==1.68.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lightning==2.4.0
lightning-utilities==0.11.9
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mpmath==1.3.0
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4

packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.29.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.2.0
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytorch-msssim==1.0.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
requests==2.32.3
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
shapely==2.0.6
six==1.16.0
stack-data==0.6.3
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
torch==2.2.2
torch-geometric==2.6.1
torchmetrics==1.6.0
torchvision==0.17.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3

typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.13
xyzservices==2024.9.0
yarl==1.18.0
zipp==3.21.0

opencv-python
lgpio
pyserial